llama_index==0.10.50
google-ai-generativelanguage>=0.4
google-generativeai>=0.3.0
nest_asyncio==1.5.8
numpy==1.26.2
openai==1.35.7
python-dotenv==1.0.0
Requests==2.31.0
streamlit==1.36.0
lxml==4.9.3
torch
sentence-transformers
gspread
oauth2client
llama-index-llms-openai
llama-index-llms-groq
llama-index-llms-gemini
llama-index-embeddings-huggingface
google-auth
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
fastapi
uvicorn
aiogram
aiohttp

